.title-login{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;

/* identical to box height, or 127% */
text-align: center;

/* #301155 */
color: #301155;
}
.login-content{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 150% */
/* text-align: center; */

/* #756884 */
color: #756884;
}
.logo-login{
    padding: 8px;
gap: 8px;


height: 64px;
}
.forget{
    /* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */
text-align: right;

/* #882DF1 */
color: #882DF1;
}
.login-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    /* identical to box height, or 143% */
    
    /* Gray/700 */
    color: #344054;
    
    
}
.login-input{
    height: 52px;

/* Base/White */
background: #FFFFFF;

/* Gray/300 */
border: 1px solid #D0D5DD;

/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}
.contact-button{
    background: #882DF1 !important;
border: 0.964798px solid rgba(255, 255, 255, 0.16) !important;
box-shadow: 0px 8.68318px 19.296px -4.82399px rgba(136, 45, 241, 0.2) !important;
border-radius: 15.4368px !important;

}
.contact-btn-text{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15.4368px;
line-height: 23px;

/* identical to box height, or 150% */

/* Base/White */
color: #FFFFFF;


}