.loyal-img {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 222px;
    right: 685px;
    left: 97px;
   
background: linear-gradient(53.28deg, #670FCC 9.25%, #882DF1 91.55%);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .loyal-header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 69.4654px;
    line-height: 87px; 
    /* or 125% */
    letter-spacing: -0.02em;
    text-transform: capitalize;

    }